{% extends 'admin/dashboard.html' %}

{% block columns %}
    <tr>
        <th class="th-sm">Date Created</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">Phone</th>
        <th class="th-sm">Gender</th>
        <th class="th-sm">Age</th>
        <th class="th-sm">Actions</th>
    </tr>
{% endblock columns %}

{% block rows %}
    {% for user in user_list %}
        <tr>
            <td>{{ user.date_joined | date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ user.name_formal }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.age }}</td>
            <td>
                <button
                    class="btn btn-outline-dark btn-floating btn-sm"
                    data-ripple-color="dark"
                    data-toggle="modal"
                    data-target="#modalReadSingle{{user.id}}"
                >
                    <i class="far fa-eye"></i>
                </button>
                <button
                    class="btn btn-outline-danger btn-floating btn-sm ml-2"
                    data-ripple-color="dark"
                    data-toggle="modal"
                    data-target="#modalDel{{user.id}}"
                >
                    <i class="far fa-user-minus"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock rows %}

{% block modal %}
    {% for user in user_list %}
        {% include 'users/users_read_single.html' %}
        {% include 'users/users_delete.html' %}
    {% endfor %}
{% endblock modal %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#toExcel').click(function() {
                console.log("A")
                $('.datatable-table').table2excel({
                    filename: "Users.xls"
                })
            })

            const datatable = new mdb.Datatable(document.getElementById('datatable'))

            document.getElementById('tableSearch').addEventListener('input', (e) => {
                datatable.search(e.target.value);
            });

            columns = [
                {label: 'Date Created'},
                {label: 'Name'},
                {label: 'Email'},
                {label: 'Phone'},
                {label: 'Gender'},
                {label: 'Age'},
                {label: 'Actions'},
            ]
            
            const data = datatable.rows 

            $('.dateto > .datepicker-toggle-button').prop('disabled', true)

            $('.datepicker-toggle-button').click(function() {
                $('.datepicker-ok-btn, .datepicker-cancel-btn').click(function(){
                    var dateFrom = $('#dateFrom').val()
                    console.log(dateFrom)
                    if(dateFrom != "") {
                        $('#dateTo').removeAttr('disabled')
                        $('.dateto > .datepicker-toggle-button').removeAttr('disabled')
                    } else {
                        $('#dateTo').prop('disabled', true)
                        $('.dateto > .datepicker-toggle-button').prop('disabled', true)
                    }
                    
                    var dateTo = $('#dateTo').val()

                    if(dateTo != "") {
                        $('#dateFrom').prop('disabled', true)
                        $('.datefrom > .datepicker-toggle-button').prop('disabled', true)
                        var index = 0
                        var newdata = []
                        $.each(data, function(key, value) {
                            if (moment(value.field_0).isBetween(dateFrom, dateTo, undefined, '[]')) {
                                newdata[index++] = value
                            }
                        })
                        console.log(newdata)
                        datatable.update({rows: newdata})
                    } else {
                        $('#dateFrom').removeAttr('disabled')
                        $('.datefrom > .datepicker-toggle-button').removeAttr('disabled')
                        datatable.update({rows: data})
                    }
                })
            })
        })
        </script>
{% endblock javascript %}