{% extends 'template.html' %}
{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock css_links %}

{% block header %}
    {% include 'main/navbar.html' %}
{% endblock header %}

{% block content %}
<!-- Main -->
<main style="height:100vh">
    <div class="container" style="height:100vh">
        <div class="row" style="height:100vh">
            <div class="col-12 justify-content-center align-items-center d-flex">
                <div class="card" style="width: 350px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Sign In</h5>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-3">
                                <input name="email" type="text" id="form1" class="form-control" />
                                <label class="form-label" for="form1">Email</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input name="password" type="password" id="form1" class="form-control" />
                                <label class="form-label" for="form1">Password</label>
                            </div>
                            <button class="btn btn-block btn-rounded bg-dark text-white">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main -->
{% endblock content %}

{% block footer %}
    {% include 'main/footer.html' %}
{% endblock footer %}

{% block modal %}
    {% include 'main/about_us.html' %}
    {% include 'main/contact_us.html' %}
{% endblock modal %}